<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Learning Vue :D</h1>

    <div id="app">

      <!-- Attribute binding -->
      <a href="url">Click this link here</a>

      <!-- Conditionally renders it out through CSS, not through the DOM. -->
      <div v-show="showInfo">Currently showing books:</div>


      <!-- Conditionally rendering values through vue's show directive if true, affecting the DOM. -->
      <div v-if="showInfo">

              <!-- for loops  -->
        
        <ul>
          <li v-for="book in books">
            {{ book }}
          </li>
        </ul>
        
        <button @click="hideInfoHandler">Hide Book Info</button>
      </div>

      <!-- If showInfo is not true, conditionally render the button action to render showing info, affecting the DOM. -->
      <div v-else="!showInfo">
        <button @click="showInfoHandler">Show Book Info</button>
      </div>

      <br /><br />

      <!-- Mouse events -->
      <div class="box" @mouseover.prevent="mouseOverEventHandler($event, 5)">Mouse over event</div>
      <div class="box" @mouseleave.prevent="mouseLeaveEventHandler">Mouse leave event</div>
      <div class="box" @dblclick.prevent="doubleClickEventHandler">Double click event</div>
      <div class="box" @mousemove.prevent="mouseMoveEventHandler">
        <p>Mouse move event</p>
        <p>{{ x }}</p>
        <p>{{ y }}</p>

      </div>


    </div>

    <script src="app.js"></script>
  </body>
</html>
